@(signupForm: Form[Application.Register], loginForm: Form[Application.Login])

@scripts = {
    <script src="@routes.Assets.at("javascripts/password.js")" type="text/javascript"></script>
}

@main(null, scripts) {

  @wflash()
  <div class="col-lg-6">
      ...Page Info....
    </div>
    
    <!--test form for technicians; to be moved; TODO: -->
  <h4>Technicians</h4>
  <form action="@routes.TechnicianController.addTechnician()" method="post">
    First Name:<br>
      <input type="text" name="firstName" />
     <br>Last Name:<br>
      <input type="text" name="lastName" />
      <br>
      <button>Add Technician</button>
  </form>
  <a href="@routes.TechnicianController.getTechnicians()" class="btn">View all Technicians</a>
  
  
  <h4>Support Requests</h4>
  
  <form action="@routes.SupportRequestController.addSupportRequest()" method="post">
    Title:<br>
      <input type="text" name="title" />
      <br>Body:<br>
      <input type="text" name="body" />
      <br>Difficulty:<br>
      <input type="number" name="difficulty" />
      <br>
      <button>Add Support Request</button>
  </form>
  
  <a href="@routes.SupportRequestController.getSupportRequests()" class="btn">View all Support Requests</a>
  
  <br>
  
  <a href="@routes.SupportRequestController.create()" class="btn">Get Support</a>
  
  
  <!-- end ADDED. -->

  <div class="col-lg-6">
    <div class="well">
      @login(loginForm)
    </div>

    <div class="well">
      @views.html.account.signup.createFormOnly(signupForm)
    </div>
  </div>
  
  
}