@(supportRequestForm: Form[models.SupportRequest])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

<h3>New Support Request</h3>
            
@form(routes.SupportRequestController.addSupportRequest(), 'class -> "form") {

    <div class="container">
        <div class="well">

        <fieldset>
            @inputText(
                supportRequestForm("text"),
                '_label -> "Title",
                'class -> "form-control"
            )
            
            @inputText(
                supportRequestForm("body"),
                '_label -> "Description of Problem",
                'class -> "form-control"
            )
            
        </fieldset>
    
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Submit">
            <a href="@routes.Application.index()" class="btn">Cancel</a>
        </div>
    
     </div>
    </div>
}